In [18]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [19]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ayan,RU,2020-12-24 00:43:15,56.45,138.17,-17.97,78,3,10.89
1,1,Lebu,CL,2020-12-24 00:43:15,-37.62,-73.65,56.41,89,0,13.60
2,2,Hilo,US,2020-12-24 00:42:10,19.73,-155.09,82.40,54,1,11.41
3,3,Jamestown,US,2020-12-24 00:39:35,42.10,-79.24,41.00,55,1,12.75
4,4,Manokwari,ID,2020-12-24 00:43:16,-0.87,134.08,83.98,70,100,3.58

In [20]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [21]:
# Configure gmaps to use Google API key.
gmaps.configure(api_key=g_key)

In [22]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [28]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [35]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Hilo,US,2020-12-24 00:42:10,19.73,-155.09,82.40,54,1,11.41
4,4,Manokwari,ID,2020-12-24 00:43:16,-0.87,134.08,83.98,70,100,3.58
6,6,Vaini,TO,2020-12-24 00:43:16,-21.20,-175.20,84.20,79,40,16.11
12,12,Ugoofaaru,MV,2020-12-24 00:43:17,5.67,73.00,81.03,79,100,13.20
16,16,Georgetown,MY,2020-12-24 00:40:07,5.41,100.34,78.80,83,20,4.21
18,18,Rikitea,PF,2020-12-24 00:43:19,-23.12,-134.97,78.66,63,48,6.44
20,20,Hithadhoo,MV,2020-12-24 00:43:19,-0.60,73.08,81.18,77,98,13.65
29,29,Carnarvon,AU,2020-12-24 00:43:21,-24.87,113.63,78.80,94,75,10.29
46,46,Iracoubo,GF,2020-12-24 00:43:24,5.48,-53.20,77.09,89,99,9.64
52,52,Busselton,AU,2020-12-24 00:43:25,-33.65,115.33,82.85,30,0,7.56

In [36]:
preferred_cities_df.count()

City_ID       137
City          137
Country       137
Date          137
Lat           137
Lng           137
Max Temp      137
Humidity      137
Cloudiness    137
Wind Speed    137
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
2         Hilo      US     82.40  19.73 -155.09
4    Manokwari      ID     83.98  -0.87  134.08
6        Vaini      TO     84.20 -21.20 -175.20
12   Ugoofaaru      MV     81.03   5.67   73.00
16  Georgetown      MY     78.80   5.41  100.34
18     Rikitea      PF     78.66 -23.12 -134.97
20   Hithadhoo      MV     81.18  -0.60   73.08
29   Carnarvon      AU     78.80 -24.87  113.63
46    Iracoubo      GF     77.09   5.48  -53.20
52   Busselton      AU     82.85 -33.65  115.33

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [39]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [40]:
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng                Hotel Name
2         Hilo      US     82.40  19.73 -155.09       Hilo Hawaiian Hotel
4    Manokwari      ID     83.98  -0.87  134.08  Swiss Belhotel Manokwari
6        Vaini      TO     84.20 -21.20 -175.20       Keleti Beach Resort
12   Ugoofaaru      MV     81.03   5.67   73.00            Ungoofaaru Inn
16  Georgetown      MY     78.80   5.41  100.34            Cititel Penang
18     Rikitea      PF     78.66 -23.12 -134.97            Pension Maro'i
20   Hithadhoo      MV     81.18  -0.60   73.08         Scoop Guest House
29   Carnarvon      AU     78.80 -24.87  113.63     Hospitality Carnarvon
46    Iracoubo      GF     77.09   5.48  -53.20        Le Gite D Iracoubo
52   Busselton      AU     82.85 -33.65  115.33   Observatory Guest House

In [42]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [45]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [47]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))